<div class="cart-container">
  <h2>Shopping Cart</h2>
  <div class="cart-item">
    <p></p>
    <p></p>
    <p class="cart-item-name">Product Name</p>
    <p>Price</p>
    <p>Quantity</p>
    <p>Action</p>
  </div>
  <div *ngFor="let item of cartItems" class="cart-item">
    <img [src]="item.product.image" alt="{{ item.product.name }}" />
    <p class="cart-item-name">
      {{ item.product.name }} - ${{ item.product.price }}
    </p>
    <p>
      <strong>${{ item.product.price * item.quantity }}</strong>
    </p>
    <input type="number" [(ngModel)]="item.quantity" (change)="updateQuantity(item.product.id, item.quantity)" />
    <button (click)="removeFromCart(item.product.id)" class="btn btn-danger">
      Remove
    </button>
  </div>

  <div *ngIf="!cartItems.length">
    <p class="empty-cart">Your cart is empty</p>
  </div>

  <div class="checkout" *ngIf="cartItems.length > 0">
    <div>

    <div class="cart-discount">
      <input type="text" [(ngModel)]="discountCode" placeholder="Enter Discount Code" />
      <button (click)="applyDiscount()" class="btn btn-primary">Apply</button>
      <p *ngIf="discountMessage" class="discount-message">
        {{ discountMessage }}
      </p>
    </div>
  <h3>Total: ${{ total }}</h3>

    </div>

    <div class="cart-buttons">
      <!-- <app-checkout [total]="total" [cartItems]="cartItems"></app-checkout> -->
      </div>
  </div>

</div>